.main {
  min-height: calc(100vh - 200px);
}

.results-wrapper {
  width: 75% !important;
  background-color: #fff;
  border-radius: 16px;
  margin-top: -48px;
  min-height: calc(100vh - 200px);
  box-shadow: 5px 5px 10px 2px #eee;
  margin-bottom: 16px;
}

.results {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style-type: none !important;
  margin: 0 auto;
  padding: 24px;
  width: 100% !important;
}
