.main {
  min-height: calc(100vh - 200px);
}

.ui.container.results-wrapper {
  width: 75%;
  background-color: #fff;
  border-radius: 16px;
  margin-top: -48px;
  min-height: calc(100vh - 200px);
  box-shadow: 5px 5px 10px 2px #eee;
  margin-bottom: 16px;
}

ol.results {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style-type: none;
  margin: 0 auto;
  padding: 24px;
  width: 100%;
}

.results li {
  background: #8ee0a3;
  color: #fff;
  font-weight: 700;
  font-size: 1.2em;
  text-align: center;
  border-radius: 16px;
  padding: 8px;
  margin: 2px 8px 2px 0;
  width: 100px;
}

.results li.fromMe {
  align-self: flex-end;
  margin: 2px 0 2px 8px;
}
