.scoober-blue {
    background: linear-gradient(
      222deg,
      rgb(144, 225, 162) 0%,
      #47b8f2 100%
    );
    border-bottom-left-radius: 50% 40%;
    border-bottom-right-radius: 50% 80%;
    min-height: 136px;
  }
  
  img.ui.circular.image.avatar-img{
    width: 3em;
  }

  .header.has-padding {
    padding: 8px 20px;
  }
  
  .content.white-text, #turnmsg.sub.header.white-text {
    color: #fff;
  }