.scoober-blue {
    background: linear-gradient(
      222deg,
      rgb(144, 225, 162) 0%,
      #47b8f2 100%
    ) !important;
    border-bottom-left-radius: 50% 40%;
    border-bottom-right-radius: 50% 80%;
    min-height: 136px;
  }
  
  .header img {
    width: 3em !important;
  }

  .white-text {
    color: #fff !important;
  }
  
  .has-padding {
    padding: 8px 20px !important;
  }
  