.scoober-blue {
  background-color:#56aad9 !important;
}

.white {
  color:#ffffff !important;
}

.has-padding {
  padding: 10px 16px !important;
}

.fixed-ratio {
  width: 60px;
  height:60px;
}

.main{
  min-height: calc(100vh - 200px);
}

ul .list{
  display:block;
}

.ui .list{
  margin: .3571em 0 !important;
}

.left-border, ui.list .left-border {
  color: #56aad9 !important;
  border-left-color: #56aad9 !important;
  border-left-width: 4px !important;
  margin-left:16px !important;
  display: list-item;
  table-layout: fixed;
  list-style-type: none;
  width: 60px;
  text-align: center;
}

.footer {
  height: 70px;
}

